.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 19px;
	padding-bottom: 19px;
	transition: 0.3s all;
	@include r(1200) {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	&--front {
		padding-top: 25px;
		padding-bottom: 25px;
		@include r(1200) {
			padding-top: 10px;
			padding-bottom: 10px;
		}
	}
	&--static {
		padding-top: 19px;
		padding-bottom: 19px;
		@include r(1200) {
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.header__logo-path {
			fill: $light;
			transition: 0.3s all;
		}
		.header__logo-stroke {
			stroke: $light;
			transition: 0.3s all;
		}
		.header__link {
			color: $light;
		}
		.header__burger-icon {
			fill: $light;
		}
	}
	&__logos {
		display: flex;
		align-items: center;
	}
	&__logo {
		text-decoration: none;
		margin-right: 27px;
		@include r(1200) {
			margin-right: 15px;
		}
		&:hover {
			opacity: 0.7;
		}
	}
	&__logo-pict {
		display: block;
	}
	&__logo-path {
		transition: 0.3s all;
	}
	&__logo-stroke {
		transition: 0.3s all;
	}
	&__nav {
		display: flex;
		@include r(1200) {
			display: none;
		}
	}
	&__link {
		color: $dark;
		text-decoration: none;
		display: inline-block;
		margin-right: 44px;
		position: relative;
		&:hover {
			opacity: 0.7;
		}
		&:last-of-type {
			margin-right: 0px;
		}
		&--selected {
			font-weight: 700;
			&:after {
				position: absolute;
				top: 100%;
				left: 0px;
				right: 0px;
				content: "";
				display: block;
				height: 2px;
				background-color: $red;
			}
		}
	}
	&__btn {
		padding: 5px;
		border: none;
		background: none;
		display: none;
		@include r(1200) {
			display: block;
		}
	}
	&__burger-icon {
		width: 24px;
		height: 24px;
		display: block;
		transition: 0.3s all;
	}

}