.section {
	padding-top: 100px;
	padding-bottom: 100px;
	overflow-x: hidden;
	display: block;
	width: 100%;
	@include r(1200) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&--intro {
		background-size: cover;
		background-position: center top;
		background-repeat: no-repeat;
		padding: 0px;
		@include r(1200) {
			padding: 0px;
			background-image: none !important;
			background-color: $blue;
		}
	}
	&--footer {
		background-color: $blue;
		padding-top: 30px;
		padding-bottom: 30px;
	}
	&--bg-contain {
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	&--breadcrumbs {
		padding-top: 25px;
		padding-bottom: 25px;
		@include r(1200) {
			display: none;
		}
	}
	&--top {
		padding-top: 15px;
		@include r(1200) {
			padding-top: 15px;
		}
	}
	&--blue {
		background-color: $blue;
		color: $light;
	}
	&--decor {
		background-size: 290px 290px, 290px 290px, contain;
		background-position: bottom left -10px, top right -10px, center;
		background-repeat: no-repeat;
		@include r(1200) {
			background-size: 0px 0px, 0px 0px, contain;
		}
	}
	&--gray {
		background-color: $gray;
	}
	&--none {
		background-color: $blue;
		color: $light;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
	}
}