<!DOCTYPE html>
<html lang="ru">
<head>
    <title>Одна новость</title>
    @@include("../blocks/modules/head/head.html")
</head>
<body class="body">
    <div class="page" id="page">
        @@include("../blocks/modules/section-header/section-header.html")
        <main class="main">
            <section class="section section--breadcrumbs">
                <div class="container">
                    @@include("../blocks/modules/breadcrumbs/breadcrumbs.html")
                </div>
            </section>
            <section class="section section--top">
                <div class="container">
                    <div class="single">
                        <sidebar class="single__sidebar">
                            <div class="single__share">
                                @@include("../blocks/modules/ya-share/ya-share.html")
                            </div>
                        </sidebar>
                        <div class="single__main">
                            <h1 class="single__title">
                                «И красавица столица не Москва — Сталинодар!»
                            </h1>
                            <p class="single__discript">
                                Советские вожди переименовали десятки городов по своей прихоти. Что из этого вышло?
                            </p>
                            <time class="single__time">
                                15.09.2020 18:39
                            </time>
                            <div class="single__content">
                                <div class="editor">
                                    <figure>                                 
                                        <picture>
                                            <source media="(max-width: 1200px)" srcset="https://placehold.it/1800x900"></source>
                                            <source media="(max-width: 800px)" srcset="https://placehold.it/800x600" alt=" С 14 сентября возобновит работу «Онлайн-школа»"></source>
                                            <img src="https://placehold.it/1920x1024" alt="">
                                            <figcaption>Описание</figcaption>
                                        </picture>
                                    </figure>
                                    <p>
                                        В сентябре 1991 года <strong>Ленинграду было решено вернуть</strong> его историческое название Санкт-Петербург. Это был один из первых прецедентов в огромной волне последовавших переименований 90-х годов. Ведь советский период в истории нашей страны отметился небывалыми усилиями по переименованию городов в честь деятелей, наследие которых коммунисты считали особенно значимым. Это привело к тому, что карта покрылась многочисленными фамилиями лидеров государства, партийцев помельче и людей из мира культуры, особо почитаемых в верхах. К концу XX века одни переименованные города оставили эти гордые названия, а другие уже мало кто вспомнит. «Лента.ру» предлагает проверить свои знания географии СССР и пройти тест на эту тему.
                                    </p>
                                    <h2>
                                        Заголовок h2
                                    </h2>
                                    <h3>
                                        Заголовок h3
                                    </h3>
                                    <h4>
                                        Заголовок h4
                                    </h4>
                                    <h5>
                                        Заголовок h5
                                    </h5>
                                    <p>
                                        В сентябре 1991 года Ленинграду было решено вернуть его историческое название Санкт-Петербург. Это был один из <a href="">первых прецедентов</a> в огромной волне последовавших переименований 90-х годов. Ведь советский период в истории нашей страны отметился небывалыми усилиями по переименованию городов в честь деятелей, наследие которых коммунисты считали особенно значимым. Это привело к тому, что карта покрылась многочисленными фамилиями лидеров государства, партийцев помельче и людей из мира культуры, особо почитаемых в верхах. К концу XX века одни переименованные города оставили эти гордые названия, а другие уже мало кто вспомнит. «Лента.ру» предлагает проверить свои знания географии СССР и пройти тест на эту тему.
                                    </p>
                                    <blockquote>
                                        В сентябре 1991 года Ленинграду было решено вернуть его историческое название Санкт-Петербург. Это был один из первых прецедентов в огромной волне последовавших переименований 90-х годов. Ведь советский период в истории нашей страны отметился небывалыми усилиями по переименованию городов в честь деятелей, наследие которых коммунисты считали особенно значимым. 
                                    </blockquote>
                                    <p>
                                        В сентябре 1991 года Ленинграду было решено вернуть его историческое название Санкт-Петербург. Это был один из первых прецедентов в огромной волне последовавших переименований 90-х годов. Ведь советский период в истории нашей страны отметился небывалыми усилиями по переименованию городов в честь деятелей, наследие которых коммунисты считали особенно значимым. Это привело к тому, что карта покрылась многочисленными фамилиями лидеров государства, партийцев помельче и людей из мира культуры, особо почитаемых в верхах. К концу XX века одни переименованные города оставили эти гордые названия, а другие уже мало кто вспомнит. «Лента.ру» предлагает проверить свои знания географии СССР и пройти тест на эту тему.
                                    </p>
                                    <p>
                                        В сентябре 1991 года Ленинграду было решено вернуть его историческое название Санкт-Петербург. Это был один из первых прецедентов в огромной волне последовавших переименований 90-х годов. Ведь советский период в истории нашей страны отметился небывалыми усилиями по переименованию городов в честь деятелей, наследие которых коммунисты считали особенно значимым. Это привело к тому, что карта покрылась многочисленными фамилиями лидеров государства, партийцев помельче и людей из мира культуры, особо почитаемых в верхах. К концу XX века одни переименованные города оставили эти гордые названия, а другие уже мало кто вспомнит. «Лента.ру» предлагает проверить свои знания географии СССР и пройти тест на эту тему.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="articles">
                        <h3 class="articles__title">
                            Читайте также
                        </h3>
                        <div class="articles__content">
                            <div class="articles__item articles__item--25">
                                <a href="" class="article-card">
                                    <div class="article-card__thumb">
                                        <img src="https://placehold.it/900x600" alt="" class="article-card__img">
                                    </div>
                                    <time class="article-card__date" datetime="2020-07-15T08:15">
                                        15 июля |  08:15
                                    </time>
                                    <h4 class="article-card__title">
                                        Врагу не сдается наш гордый «Урал»
                                    </h4>
                                    <p class="article-card__text">
                                        По мнению доктора, России удалось избежать тяжёлых последствий   
                                    </p>
                                    <div class="article-card__footer">
                                        <span class="article-card__footer-text">
                                            Подробнее
                                        </span>
                                        <svg class="article-card__footer-icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-article-arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25">
                                <a href="" class="article-card">
                                    <div class="article-card__thumb">
                                        <img src="https://placehold.it/900x600" alt="" class="article-card__img">
                                    </div>
                                    <time class="article-card__date" datetime="2020-07-15T08:15">
                                        15 июля |  08:15
                                    </time>
                                    <h4 class="article-card__title">
                                        Пенсионеры на вес голоса
                                    </h4>
                                    <p class="article-card__text">
                                        По мнению доктора, России удалось избежать тяжёлых последствий  
                                    </p>
                                    <div class="article-card__footer">
                                        <span class="article-card__footer-text">
                                            Подробнее
                                        </span>
                                        <svg class="article-card__footer-icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-article-arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25">
                                <a href="" class="article-card">
                                    <div class="article-card__thumb">
                                        <img src="https://placehold.it/900x600" alt="" class="article-card__img">
                                    </div>
                                    <time class="article-card__date" datetime="2020-07-15T08:15">
                                        15 июля |  08:15
                                    </time>
                                    <h4 class="article-card__title">
                                        Девушка разыграла парней в Tinder
                                    </h4>
                                    <p class="article-card__text">
                                        По мнению доктора, России удалось избежать тяжёлых последствий  
                                    </p>
                                    <div class="article-card__footer">
                                        <span class="article-card__footer-text">
                                            Подробнее
                                        </span>
                                        <svg class="article-card__footer-icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-article-arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25">
                                <a href="" class="article-card">
                                    <div class="article-card__thumb">
                                        <img src="https://placehold.it/900x600" alt="" class="article-card__img">
                                    </div>
                                    <time class="article-card__date" datetime="2020-07-15T08:15">
                                        15 июля |  08:15
                                    </time>
                                    <h4 class="article-card__title">
                                        Девушка разыграла парней в Tinder
                                    </h4>
                                    <p class="article-card__text">
                                        По мнению доктора, России удалось избежать тяжёлых последствий  
                                    </p>
                                    <div class="article-card__footer">
                                        <span class="article-card__footer-text">
                                            Подробнее
                                        </span>
                                        <svg class="article-card__footer-icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-article-arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25">
                                <a href="" class="article-card">
                                    <div class="article-card__thumb">
                                        <img src="https://placehold.it/900x600" alt="" class="article-card__img">
                                    </div>
                                    <time class="article-card__date" datetime="2020-07-15T08:15">
                                        15 июля |  08:15
                                    </time>
                                    <h4 class="article-card__title">
                                        Врагу не сдается наш гордый «Урал»
                                    </h4>
                                    <p class="article-card__text">
                                        По мнению доктора, России удалось избежать тяжёлых последствий   
                                    </p>
                                    <div class="article-card__footer">
                                        <span class="article-card__footer-text">
                                            Подробнее
                                        </span>
                                        <svg class="article-card__footer-icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-article-arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25">
                                <a href="" class="article-card">
                                    <div class="article-card__thumb">
                                        <img src="https://placehold.it/900x600" alt="" class="article-card__img">
                                    </div>
                                    <time class="article-card__date" datetime="2020-07-15T08:15">
                                        15 июля |  08:15
                                    </time>
                                    <h4 class="article-card__title">
                                        Пенсионеры на вес голоса
                                    </h4>
                                    <p class="article-card__text">
                                        По мнению доктора, России удалось избежать тяжёлых последствий  
                                    </p>
                                    <div class="article-card__footer">
                                        <span class="article-card__footer-text">
                                            Подробнее
                                        </span>
                                        <svg class="article-card__footer-icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-article-arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25">
                                <a href="" class="article-card">
                                    <div class="article-card__thumb">
                                        <img src="https://placehold.it/900x600" alt="" class="article-card__img">
                                    </div>
                                    <time class="article-card__date" datetime="2020-07-15T08:15">
                                        15 июля |  08:15
                                    </time>
                                    <h4 class="article-card__title">
                                        Девушка разыграла парней в Tinder
                                    </h4>
                                    <p class="article-card__text">
                                        По мнению доктора, России удалось избежать тяжёлых последствий  
                                    </p>
                                    <div class="article-card__footer">
                                        <span class="article-card__footer-text">
                                            Подробнее
                                        </span>
                                        <svg class="article-card__footer-icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-article-arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25">
                                <a href="" class="article-card">
                                    <div class="article-card__thumb">
                                        <img src="https://placehold.it/900x600" alt="" class="article-card__img">
                                    </div>
                                    <time class="article-card__date" datetime="2020-07-15T08:15">
                                        15 июля |  08:15
                                    </time>
                                    <h4 class="article-card__title">
                                        Девушка разыграла парней в Tinder
                                    </h4>
                                    <p class="article-card__text">
                                        По мнению доктора, России удалось избежать тяжёлых последствий  
                                    </p>
                                    <div class="article-card__footer">
                                        <span class="article-card__footer-text">
                                            Подробнее
                                        </span>
                                        <svg class="article-card__footer-icon">
                                            <use xlink:href="img/sprites/sprite.svg#icon-article-arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                            <div class="articles__item articles__item--25 articles__item--clear"></div>
                            <div class="articles__item articles__item--25 articles__item--clear"></div>
                            <div class="articles__item articles__item--25 articles__item--clear"></div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer class="section section--footer">
            <div class="container">
                @@include("../blocks/modules/footer/footer.html")
            </div>
        </footer>
        <div class="container">
            @@include("../blocks/modules/temp/temp.html")
        </div>
    </div>
    <div class="hidden">
        @@include("../blocks/modules/mmenu/mmenu.html")
    </div>
    <script src="js/main.js"></script>
    <script src="js/vendor.js"></script>
</body>
</html>
