.loader{
	background: rgba(0,0,0,0.2);
	width: 85px;
	height:  85px;
	border-radius: 50px;
	background-color: $red;
	@include r(1200) {
		width: 46px;
		height: 46px;
		margin-left: auto;
		margin-right: auto;
	}
	&__spinner {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height:  100%;
		@include r(1200) {
			svg {
				width: 24px !important;
				height: 24px !important;
			}
		}
	}
}