.article-author {
	display: flex;
	align-items: center;
	margin-bottom: 60px;
	&:last-of-type {
		margin-bottom: 0px;
	}
	&__column {
		&--info {
			margin-right: 30px;
			flex-shrink: 0;
			width: 377px;
		}
		&--thumb {
			flex-shrink: 0;
			margin-right: 32px;
		}
		&--name {
			min-width: 0px;
		}
	}
	&__picture {
		width: 198px;
		height: 198px;
		border-radius: 100px;
		display: block;
		overflow: hidden;
		img {
			display: block;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	&__surname {
		font-weight: bold;
		font-size: 18px;
		text-transform: uppercase;
	}
	&__name {
		font-weight: bold;
		font-size: 18px;
		padding-bottom: 10px;
		border-bottom: 2px solid $red;
		margin-bottom: 20px;
		width: fit-content;
	}
	// &__sep {
	// 	display: block;
	// 	width: 100%;
	// 	height: 2px;
	// 	background-color: $red;
	// 	border: none;
	// 	margin-bottom: 10px;
	// }
	&__title {
		font-weight: 700;
		font-size: 24px;
	}
	&__job {
		margin-bottom: 10px;
	}
	&__link {
		color: $dark;
		&:hover {
			text-decoration: none;
		}
	}
}