.request {
	display: flex;
	justify-content: space-between;
	@include r(1200) {
		display: block;
	}
	&__main {
		width: calc(100% / 12 * 8 - 10px);
		@include r(1200) {
			width: 100%;
			margin-bottom: 50px;
		}
	}
	&__thumb {
		width: calc(100% / 12 * 4 - 10px);
		@include r(1200) {
			width: 100%;
		}
		img {
			display: block;
			width: 100%;
			@include r(1200) {
				max-width: 300px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
	&__title {

	}
	&__content {
		margin-bottom: 40px;
		@include r(1200) {
			margin-bottom: 30px;
		}
	}
	&__toolbar {
		width: fit-content;
		position: relative;
		@include r(1200) {
			width: 100%;
			text-align: center;
		}
		&:after {
			background-image: url('./img/request-accent.svg');
			position: absolute;
			display: block;
			width: 182px;
			height: 102px;
			background-repeat: no-repeat;
			background-size: contain;
			left: 168px;
			top: -5px;
			background-position: center;
			content: '';
			pointer-events: none;
			@include r(1200) {
				display: none;
			}
		}
	}
}