.article-winner {
	padding: 40px 60px;
	display: flex;
	color: $dark;
	text-decoration: none;
	border-radius: 5px;
	background-color: #F1F6FF;
	margin-left: auto;
	margin-right: auto;
	width: calc(100% / 12 * 8 - 20px);
	@include r(1200) {
		display: block;
		text-align: center;
		width: 100%;
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
		padding: 40px 15px 25px 15px;
	}
	&:hover {
		background-color: $blue;
		color: $light;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
		background: radial-gradient(49.93% 369.26% at 33.33% 38.31%, #8FD0FF 2.7%, $blue 56.28%, $blue 95.83%), $blue;
		.article-winner__tag {
			color: $light;
			border-color: $light;
		}
	}
	&__thumb {
		width: 198px;
		height: 198px;
		display: block;
		margin-right: 40px;
		position: relative;
		@include r(1200) {
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 27px;
		}
	}
	&__picture {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: 150px;
		overflow: hidden;
		display: block;
	}
	&__award {
		width: 56px;
		height: 56px;
		background-color: $light;
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		border-radius: 40px;
		right: 0px;
		bottom: 0px;
	}
	&__award-icon {
		display: block;
		height: 40px;
		width: 100%;
	}
	&__surname {
		font-weight: 700;
		font-size: 18px;
		text-transform: uppercase;
	}
	&__name {
		font-weight: 700;
		font-size: 18px;
		margin-bottom: 15px;
	}
	&__tags {
		margin-bottom: 15px;
		display: flex;
		@include r(1200) {
			display: block;
		}
	}
	&__tag {
		margin-bottom: 10px;
		border: 2px solid $dark;
		border-radius: 30px;
		font-weight: 700;
		font-size: 14px;
		display: block;
		margin-right: 15px;
		padding: 7px 15px;
		width: fit-content;
		transition: 0.3s all;
		@include r(1200) {
			margin-left: auto;
			margin-right: auto;
		}
		&--federal {
			border: 2px solid $red;
			color: $red;
		}
		&--regional {
			border: 2px solid $blue;
			color: $blue;
		}
	}
	&__discript {
		font-size: 14px;
	}
}