.doc-link {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	border: 1px solid $light;
	border-radius: 80px;
	color: $light;
	padding: 30px 34px;
	background-color: $blue;
	&:hover {
		opacity: 0.7;
	}
	&:last-of-type {
		margin-bottom: 0px;
	}
	&__title {
		font-size: 18px;
		font-weight: 700;
		flex-grow: 1;
		margin-right: 20px;
	}
	&__icon {
		width: 27px;
		height: 30px;
		display: block;
		margin-right: 22px;
		flex-shrink: 0;
	}
	&__text {
		text-decoration: underline;
		flex-shrink: 0;
	}
}