.footer {
	padding-top: 32px;
	padding-bottom: 26px;
	background-color: $blue;
	color: $light;
	display: flex;
	justify-content: space-between;
	align-items: center;
	@include r(1200) {
		padding-top: 10px;
		padding-bottom: 10px;
		display: block;
	}
	&__logos {
		@include r(1200) {
			text-align: center;
			margin-bottom: 30px;
		}
	}
	&__logo {
		margin-right: 36px;
		text-decoration: none;
		display: inline-block;
		&:hover {
			opacity: 0.7;
		}
		&:last-of-type {
			margin-right: 0px;
		}
	}
	&__content {

	}
	&__nav {
		margin-bottom: 30px;
		@include r(1200) {
			text-align: center;
		}
	}
	&__sep {
		border: none;
		background-color: #74ACFF;
		display: block;
		height: 1px;
		width: 100%;
		margin-bottom: 20px;
	}
	&__link {
		text-decoration: none;
		color: $light;
		margin-right: 57px;
		@include r(1200) {
			display: block;
			margin-bottom: 10px;
			margin-right: 0px;
		}
		&:hover {
			opacity: 0.7;
		}
		&:last-of-type {
			margin-right: 0px;
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		@include r(1200) {
			display: block;
			text-align: center;
		}
	}
	&__copyright {

	}
	&__author {
		a {
			color: $red;
			text-decoration: none;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}